<div class="jumbotron">
	<div class="container">
		<h1>Trends for companies and products</h1>
		<p>
			Is there a company or product you want to know the current opinion about? Search for the name and request the result. Real people in the 
			<a href="../mock/">Mock Crowdsourcing-Platform</a> will be assigned to read the recent Yahoo! Finance News about your topic and determine the sentiment. 
			You will be notified about the progress and the result.
		</p>
		<form>
			<div class="input-group input-group-lg">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model="action" ng-init="action='Company'">
						{{action}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="action='Company'">Company</a></li>
						<li><a ng-click="action='Organisation'">Organisation</a></li>
						<li><a ng-click="action='Product'">Product</a></li>
					</ul>
				</div><!-- /btn-group -->
				<input type="text" placeholder="{{action}} name" class="form-control" ng-model="name">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="alertInProgress()" ng-show="showLoading()">
						<img src="images/loading.gif" />
					</button>
					<button type="submit" class="btn btn-default" ng-click="showSuggestions()" ng-hide="requestList">
						<span class="glyphicon glyphicon-search"></span>
					</button>
					<button type="submit" class="btn btn-default" ng-click="createJob()">assign job</button>
				</span>
			</div>
		</form>
		<div class="list-group" ng-show="suggestions">
			<a class="list-group-item" ng-repeat="suggestion in suggestions.results track by $index"
				ng-class="{ 'active': $index == selectedIndex }" ng-click="selectSuggestion($index)">
				<p class="list-group-item-text">{{suggestion.label}}</p>
			</a>
		</div>
		<div ng-show="suggestionError" class="alert alert-warning">No company or product found! Please try new keyword.</div>
	</div>
</div>