<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="angularexample"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script src="http://cdn.jsdelivr.net/restangular/1.1.3/restangular.min.js"></script>
        <script src="http://cdn.jsdelivr.net/underscorejs/1.5.1/underscore-min.js"></script>
        
        <script type="text/javascript">
            var rest =angular.module('angularexample',["restangular"]);
            
            // Global configuration
            rest.config(["RestangularProvider",function(RestangularProvider){
                RestangularProvider.setRestangularFields({
                        id: "_id"
                });
        	}]);
            
            // Configuration for Cloud REST-API
            rest.factory('CloudRestangular', function(Restangular) {
            	return Restangular.withConfig(function(RestangularConfigurer) {
            		RestangularConfigurer.setBaseUrl('rest')
            	});
            });
            
            // Configuraiton for DBPedia API
			rest.factory('DBPediaRestangular', function(Restangular) {
            	return Restangular.withConfig(function(RestangularConfigurer) {
            		RestangularConfigurer.setBaseUrl('http://lookup.dbpedia.org/api/search.asmx')
            	});
            });
            
			rest.controller("MainCtrl",["CloudRestangular","DBPediaRestangular","$scope",function(CloudRestangular,DBPediaRestangular,$scope){
				// preset variables
				$scope.selectedIndex = -1;
				
	            // Interceptors
	            CloudRestangular.setRequestInterceptor(function(elem, operation, what) {
	            	// remove error message if exists
	            	$scope.errorMessageRequest = false;
	            	// to show loading icon
	            	$scope.requestList = true;	
	            });
	            
	            CloudRestangular.setErrorInterceptor(function(elem, operation, what) {
	            	// show error panel
	            	$scope.errorMessageRequest = elem.data;
	            	$scope.requestList = false;	
// 	            	for(a in elem)console.log(a);
// 	            	console.log("op" + operation);
// 	            	console.log("what" + what);
	            });
	            
	            CloudRestangular.setResponseInterceptor(function(data, operation, what) {
	            	$scope.requestList = false;
	            });
	            
	            // if response list is empty, transform result so no error will be thrown
	            CloudRestangular.setResponseExtractor(function(response, operation, what, url) {
	            	$scope.requestList = false;
	            	if (operation === "getList" && response === null) {
	            		return "{ results: [] }";
	            	}
	            	return response;
	            });
	            
	         // Cloud REST-API
				$scope.getArticles = function(index) {
	            	$scope.selectedIndex = index;
// 	            	console.log('index: ' + index);
// 	            	console.log(JSON.stringify($scope.suggestions.results[0]));
	        	 	var resource = CloudRestangular.all('article/' + $scope.suggestions.results[index].label);
	                resource.getList().then(function(articles){
	                        $scope.articles = articles;
	                        console.log(articles);
	                });
	            }
	            
	            // DBPedia Suggestions
	            $scope.showSuggestions = function() {
	            	$scope.selectedIndex = -1;
                	var searchItem = 'Thing';
                	if ($scope.action == 'Company') {
                		searchItem = 'Company';
                	} else if ($scope.action == 'Organisation'){
                		searchItem = 'Organisation';
                	}
                	
                	var resource = DBPediaRestangular.all('KeywordSearch?QueryClass=' + searchItem + '&QueryString=' + $scope.searchName);
                    resource.getList().then(function(results){
                            $scope.suggestions = results;
//                             console.log(JSON.stringify($scope.suggestions.results));
                            if(results.results.length > 0) {
                            	$scope.suggestionError = undefined;
                            } else {
                            	$scope.suggestionError = true;
                            }
//                             console.log(results);
                    });
                }
			}]);
            
            
            

    </script>
    </head>
    <body ng-controller="MainCtrl">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AIC Crowd-Sourcing</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Trends for companies and products</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <form>
            <div class="input-group input-group-lg">
	            <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model="action" ng-init="action='Company'">{{action}} <span class="caret"></span></button>
			        <ul class="dropdown-menu">
			            <li><a href="#" ng-click="action='Company'">Company</a></li>
			            <li><a href="#" ng-click="action='Organisation'">Organisation</a></li>
			            <li><a href="#" ng-click="action='Product'">Product</a></li>
			        </ul>
			    </div><!-- /btn-group -->
                <input type="text" placeholder="{{action}} name" class="form-control" ng-model="searchName">
                <span class="input-group-btn">
<!--                     <button class="btn btn-default" ng-click="getArticles()">Go!</button> -->
					<button type="submit" class="btn btn-default" ng-click="showSuggestions()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
        <div class="list-group" ng-show="suggestions">
		  <a href="#" class="list-group-item" ng-repeat="suggestion in suggestions.results track by $index"
		  	 ng-class="{ 'active': $index == selectedIndex }" ng-click="getArticles($index)">
		 	<p class="list-group-item-text">{{suggestion.label}}</p>
		  </a>
		</div>
		<div ng-show="suggestionError" class="alert alert-warning">No company or product found! Please try again.</div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->

		<div class="text-center"><img src="images/loading.gif" ng-show="requestList" /></div>
		<div class="alert alert-danger" ng-show="errorMessageRequest"><strong>Error:</strong> {{errorMessageRequest}}</div>
		
		<div class="panel panel-default" ng-show="articles">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Articles</div>
	      <table class="table table-hover table-striped">
	          <th>Date</th>
	          <th>Url</th>
	          <th>Tags</th>
	          
	          <tr ng-repeat="article in articles.article">
	              <td>{{article.date}}</td>
	              <td>{{article.url}}</td>
	              <td><span ng-repeat="tag in article.tags track by $id">{{tag}}, </span></td>
	          </tr>
	      </table>
      </div>
      
      <hr>

      <footer>
        <p>&copy; AIC WS2013</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
